.disk{
    margin-top: 90px;
}
.navigation{
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    margin-left: 10px;
}

.navigation button:first-of-type{
    margin-left: 0px;
}

.fileUploadInputBlock{
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border: 1px dashed white;
    transition: .2s ease-in;
}
.fileUploadInputBlock:hover{
    border: 1px solid white;
    background-color: #efefef;
    transition: .2s ease-in;  
}
.fileUploadInputBlock label{
    cursor: pointer;
}

.fileUploadInput{
    display: none;
}